swagger: 2.0
info:
  version: 
  title: Domino Data Lab APIs
  description: 'TODO: Add a description'
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
host: api.dominodatalab.com
basePath: /
securityDefinitions: {}
schemes:
- https
consumes:
- application/json
produces:
- application/json
definitions:
  RunStatus:
    title: RunStatus
    type: object
    properties:
      id:
        description: The unique ID for the run
        type: string
      projectId:
        description: the ID of the project
        type: string
      number:
        description: the auto-increment number associated with the run
        type: number
        format: double
      startingUserId:
        description: the ID of the user who started the run
        type: string
      queued:
        description: milliseconds epoch time the run was added to the queue
        type: number
        format: double
      started:
        description: milliseconds epoch time the run started executing
        type: number
        format: double
      completed:
        description: milliseconds epoch time the run completed running
        type: number
        format: double
      status:
        description: the status of the run
        type: string
      commitId:
        description: the commit hash of the project used to create the run
        type: string
      executor:
        type: string
      outputCommitId:
        description: the commit hash of the project post-run (look at files with this hash for the results)
        type: string
      title:
        description: title of the run, if it was renamed
        type: string
      isArchived:
        description: boolean denoting if the run was archived (hidden from the web interface)
        type: boolean
      postProcessedTimestamp:
        description: milliseconds epoch time the run finished processing (this happens after the run has completed and includes saving the results back to the main project repo)
        type: number
        format: double
      diagnoisticStatistics:
        $ref: '#/definitions/diagnoisticStatistics'
      isCompleted:
        type: boolean
  diagnoisticStatistics:
    title: diagnoisticStatistics
    type: object
    properties:
      isError:
        type: boolean
      data:
        type: array
        items:
          type: string
  DiagnosticStatistic:
    title: DiagnosticStatistic
    type: object
    properties:
      key:
        type: string
      value:
        type: string
